* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

h4 {
  margin: 0;
  font-size: 20px;
}

.player-container-1,
.player-container-2 {
  height: 175px;
  width: 175px;
  margin: 0 auto;
  padding: 55px 0;
}

.choices {
  padding: 75px 0;
}

/* .vertical-center {
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
} */