/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
}

h4 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

/* Player Circle Styles */

.player-container-1,
.player-container-2 {
  height: 185px;
  width: 185px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  background-color: white;
  color: black;
  box-shadow: #0e83d1 0px 0px 25px 10px;
}

/* Player Choices */

.choices {
  padding: 75px 0;
}

.fa {
  cursor: pointer;
  font-size: 65px;
  margin-right: 40px;
}

.fa-hand-scissors-o {
  margin-right: 0;
}

/* Message Area */

.chat-container {
  width: 95%;
}

#send-msg {
  width: 100%;
  padding: 0;
  height: 100%;
  border: none;
  border-top: 1px solid rgb(207, 207, 207);
  resize: none;
}

.chat-msgs {
  height: 200px;
  overflow-y: auto;
  background-color: white;
  color: black !important;
}

.stick-chat-to-bottom {
  min-height: calc(100vh - 375px);
}

.p1-msg {
  background-color: #edf9ff;
}

/* Media Queries */
@media(min-width: 576px) {
  .chat-container {
    width: 75%;
  }
}

@media(min-width: 768px) {
  .chat-container {
    width: 65%;
  }

  @media(min-width: 992px) {
  .chat-container {
    width: 50%;
  }
}