* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

h4 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

.player-container-1,
.player-container-2 {
  height: 185px;
  width: 185px;
  margin: 0 auto;
  padding: 20px 0;
}

.choices {
  padding: 75px 0;
}

.fa {
  cursor: pointer;
  font-size: 65px;
  margin-right: 40px;
}

.fa-hand-scissors-o {
  margin-right: 0;
}

.chat-msgs {
  height: 200px;
  overflow-y: auto;
}

.stick-chat-to-bottom {
  min-height: calc(100vh - 300px);
}